h1{
    color: rgb(62, 6, 118);
}

h2{
    color:rgb(13, 13, 225)
}

h3{
    color:rgb(14, 79, 14)
}

h4{
    color:rgb(166, 17, 171)
}

h5{
    color:rgb(46, 189, 17)
}

h6{
    color:rgb(170, 19, 170)
}