*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#box{
    height: 380px;
    width: 300px;
    background-color: aqua;
    overflow: hidden;
}
#box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
}
#box:hover img{
    scale: 1.2;
}